.card {
    width: 400px;
    padding: 20px;
    box-shadow: 10px 5px 500px #f0f0f0;
    border-radius: 10px;
}

.top-section {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    margin-bottom: 20px;
}

.top-section img {
    width: 60px;
    height: 60px;
    border-radius: 10%;
}

.top-section-text {
    align-self: center;
    line-height: 1.7;
}

.middle-section {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    margin-bottom: 20px;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #7c9dc4;
}

.line {
    color: #f0f1f4;
    background-color: #f0f1f4;
}

.bottom-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-section p {
    font-weight:600;
}

.flag {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.premium-btn {
    background-color: #2b00d4;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.bookmark-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* .bookmark {
    background-color: #5c2785;
}  */