.bottom-sidebar-container {
    padding: 50px 20px;
    outline: 1px solid #f2f3f6;
}

.title {
    margin-bottom: 30px;
}

.tutor {
    display: grid;
    grid-template-columns: 1fr 3.5fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.tutor-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.name-role {
    line-height: 1.5;
}

.name {
    font-size: 14px;
    font-weight: bold;
}

.role {
    font-size: 12px;
    color: hsl(240deg 1% 71%);
}